*{
	margin:0px;
	background: ;
	}
#slider {
	height:250px;
	width:100%;
	margin: 0px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:250px;
	width:100%;
	position:absolute;
	}
.left_hold {
	height: 250px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 250px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
.left:hover .left1