*{
	margin: 0px;
	padding: 0px;
}
#header{
	margin: auto;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	/*background-color: rgba(24, 207, 193, 0.67);/**/
}
ul,ol{
	list-style: none;
	height: 38px;/**/
}
.nav >li{
	float: left;
	text-align: center;
	width: 192.5px;/**/
	position: relative;/*uguguyguyguyguyguyguyguy**/
	z-index: 5;
	-moz-box-shadow: 0 0 10px rgba(39, 123, 114, 0.89);
		-webkit-box-shadow: 0 0 10px rgba(39, 123, 114, 0.89);
		box-shadow: 0 0 10px rgba(39, 123, 114, 0.89);
}
.nav li a {
	background-color: rgba(24, 207, 193, 0.67);
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
	position: relative;/*uguguyguyguyguyguyguyguy**/
	z-index: 5;
}
.nav li a:hover{
	background-color:  rgba(49, 141, 134, 0.67);
	position: relative;/*uguguyguyguyguyguyguyguy**/
	z-index: 5;
}
.nav li ul{
	display: none;
	position: relative;/*absolute*/
	min-width: 200px;
}
.nav li:hover>ul{
	display: block;
	position: relative;/*uguguyguyguyguyguyguyguy**/
	z-index: 5;
}
.nav li ul li{
	position: relative;
	/**/
	z-index: 5;
}
.nav li ul li ul{
	right: 200px;
	position: relative;/*uguguyguyguyguyguyguyguy**/
	z-index: 5;
}
#contenedorMenu{
	
	height: 58px;
	border-radius: 5px;
}