@media only screen 
and (max-width : 1090px) {
	#sidebar {
	  width: 21%;
	}
	#sidebar .popular-post-thumb .details,#sidebar .recent-post-thumb .details{
	  width: 56%;
	}
	#footer .grid_four{
		width:21%;
	}
	#footer .popular-post-thumb .details, #footer .recent-post-thumb .details{
		width:65%;
	}
	.footer_inner .copyright{
	  display: block;
	  float: left;
	  padding: 5px 0;
	  width: 100%;
	}

}
@media only screen 
and (max-width : 1024px) {
	#mobile-nav,#header .header-top.mobile{
		display:block;
	}
	#primary-nav,#header .header-top.main{
		display:none;
	}
}

@media only screen 
and (min-width : 1000px) 
and (max-width : 1040px) {
	.inner_wrap, .footer_inner {
	  min-width: 970px !important;
	}
	#sidebar {
	  padding-left: 15px !important;
	  width: 260px !important;
	}
	#main_container .post-content {
	  margin-right: 15px !important;
	  width: 650px !important;
	}
	.container,#header .header-bottom {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	#mobile-nav,#header .header-top.mobile{
		display:none;
	}
	#primary-nav,#header .header-top.main{
		display:block;
	}
	#logo {
	  float: left !important;
	  text-align: inherit !important;
	}
	#logo .description {
	  border-left: 1px dashed #CCCCCC !important;
	  margin-left: 17px !important;
	  padding: 20px 0 20px 17px !important;
	  top: -20px !important;
	}
	#logo .title, #logo .description{
		display:inline !important;
	}
	#social_sharing {
	  text-align: inherit !important;
	  width: auto !important;
	}
	#header .header-middle {
	  margin: 35px 0 !important;
	}
	#footer .grid_four{
		width:450px !important;
	}
	#sidebar .popular-post-thumb li,#sidebar .recent-post-thumb li{
		width:100% !important;
	}
}
@media only screen 
and (min-width : 730px) 
and (max-width : 1040px) {
	#header .header-middle {
	  margin: 20px 0 35px;
	}
	#logo {
	  float: none;
	  text-align: center;
	}
	#logo .title,#logo .description{
	  display: block;
	}
	#logo .description {
	  border: medium none;
	  margin: 0;
	  padding: 0;
	  top: auto;
	}
	.wrap.container {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	#social_sharing {
	  text-align: center;
	  width: 100%;
	}
	#social_sharing li {
	  display: inline;
	  float: none;
	}
	.inner_wrap, .footer_inner {
	  max-width: 710px !important;
	  min-width: 670px;
	}
	#main_container .post-content {
	  background:none !important;
	  margin-right: 0 ;
	  padding-right: 0 !important;
	}
	#footer .grid_four {
	  margin-bottom: 30px;
	  margin-left: 0;
	  margin-right: 25px !important;
	  min-height: 270px;
	  width: 310px;
	}
	#footer .grid_four:nth-child(3){
		margin:0px;
	}
	#sidebar {
	  width: 650px;
	  padding:0;
	}
	#sidebar .popular-post-thumb li,#sidebar .recent-post-thumb li {
	  float: left;
	  margin-right: 30px;
	  margin-top: 15px !important;
	  width: 47.69%;
	}
	#sidebar .popular-post-thumb li:nth-child(2n),#sidebar .recent-post-thumb li:nth-child(2n){
		margin-right:0px;
	}
	#main_container .post-content{
		width:100%;
	}
	.footer_inner #footer-nav li {
	  font-size: 13px;
	  margin-right: 10px;
	}
}
@media only screen 
and (min-width : 240px) 
and (max-width : 730px) {
	.inner_wrap {
	  margin: 20px auto !important;
	}
	#header .header-middle {
	  margin: 20px 0 35px;
	}
	#sidebar{
		padding:0;
	}
	body,.container{
		width:auto;
	}
	#primary-nav,#header .header-top.main{
		display:none;
	}
	#mobile-nav,#header .header-top.mobile,#logo .title,#logo .description{
		display:block;
	}
	.container{
		padding-left:30px;
		padding-right:30px;
	}
	.row {
	  margin: 0 auto;
	  min-width:inherit !important;
	  overflow: hidden !important;
	  width: 100%;
	}
	#logo {
	  float: none;
	  text-align: center;
	}
	#logo .description,#social_sharing ul{
	  border: medium none;
	  margin: 5px 0 0;
	  padding: 0;
	  top: auto;
	}
	#social_sharing {
	  margin-top: 10px;
	  text-align: center;
	  width: 100%;
	}
	#social_sharing li {
	  display: inline;
	  float: none;
	  margin-left: 9px;
	}
	.cat-container.two-columns .item, .two_columns.item {
	  width: 47.46%;
	}
	.cat-container.single-column .details, .single_column.item .details {
	  width: 65%;
	}
	.cat-container.single-column .image{
		width:20%;
	}
	#sidebar {
	  margin-top:30px;
	}
	#footer .grid_four {
	  margin-bottom: 30px;
	  margin-left: 0;
	  margin-right: 0 !important;
	  width: 100%;
	}
	#footer .grid_four:nth-child(3){
		margin:0px;
	}
	.footer_inner #footer-nav li {
	  font-size: 13px;
	  margin-right: 10px;
	}
	.footer_inner .copyright {
	  font-size: 14px;
	  margin-bottom: 20px;
	  text-align: center;
	  text-transform: uppercase;
	  width: 100%;
	}
	#comments ol, #comments ul {
	  background: none !important;
	  float: none !important;
	  margin: 0 0 !important;
	  padding: 0 !important;
	  width: 100% !important;
	}
	#comments .comment_detail {
	  margin: 10px 0 0 !important;
	  width: 100% !important;
	}
	#comments .details {
	  width: 78% !important;
	}
	#respond {
	  padding: 0 10px;
	}
	#contactForm li {
	  float: none !important;
	  width: 100% !important;
	}
	#contactForm textarea {
	  width: 90%;
	}
	.single-post .hentry #author .details,#sidebar,#main_container .post-content{
	  width: 100% !important;
	}
	.zilla-one-half, .zilla-one-third, .zilla-two-third, .zilla-three-fourth, .zilla-one-fourth, .zilla-one-fifth, .zilla-two-fifth, .zilla-three-fifth, .zilla-four-fifth, .zilla-one-sixth, .zilla-five-sixth{
		width:100% !important;
	}
}
@media only screen 
and (max-width : 540px) 
{
	.cat-container.two-columns .item, .two_columns.item {
	  width: 100%;
	  margin-bottom:30px;
	  margin-right:0;
	}
}
@media only screen 
and (max-width : 480px) 
{
	.contact_details .address, .contact_details .email {
	  margin-right: 20px;
	  width: 30%;
	}
	.container{
		padding-left:10px;
		padding-right:10px;
	}
	.cat-container.single-column .details, .single_column.item .details,.single_column.item .image{
		width:auto;
		float:none;
		display:block;
	}
	.cat-container.single-column .image {
	  display: block;
	  float: none;
	  margin-bottom: 10px;
	  width: 140px;
	}
	#header .header-middle,#header .header-bottom{
		padding:0 10px;
	}
	.footer_inner #footer-nav{
		display:none;
	}
	#comments .details {
	  width: 59% !important;
	}
	#respond p.comment-form-author, #respond p.comment-form-email{
		width: 100%;
	}
}